<div class="show-mobile">
  <div>
    <button>
      <img src="https://raw.githubusercontent.com/platzi/angular-componentes/4e39fb3cb8b9287318072def140d6b6282603993/src/assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="https://raw.githubusercontent.com/platzi/angular-componentes/4e39fb3cb8b9287318072def140d6b6282603993/src/assets/svg/logo_yard_sale.svg" alt="Logo">
    </a>
    <a href="">
      <img src="https://raw.githubusercontent.com/platzi/angular-componentes/4e39fb3cb8b9287318072def140d6b6282603993/src/assets/svg/icon_shopping_cart.svg" alt="Logo">
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a href="">
        <img src="https://raw.githubusercontent.com/platzi/angular-componentes/4e39fb3cb8b9287318072def140d6b6282603993/src/assets/svg/logo_yard_sale.svg" alt="Logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        bolivar014@gmail.com
      </div>
      <div>
        <a href="">
          <img src="https://raw.githubusercontent.com/platzi/angular-componentes/4e39fb3cb8b9287318072def140d6b6282603993/src/assets/svg/logo_yard_sale.svg" alt="Logo">
        </a>
      </div>
    </div>
  </div>
</div>
